@model StudentManagementSystem.Models.User

<tr>
    <td>
        <input type="checkbox" id="userToDelete" name="userToDelete" value="@Model.id"/>
    </td>
    <td>
        @Model.firstname
    </td>
    <td>
        @Model.lastname
    </td>
    <td>
        @Model.username
    </td>
    <td>
        @Model.password
    </td>
</tr>

