@model StudentManagementSystem.Models.Registration

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Registration</h4>
        <hr />
        
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.firstname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.firstname)
                @Html.ValidationMessageFor(model => model.firstname,"*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lastname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lastname)
                @Html.ValidationMessageFor(model => model.lastname, "*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nic, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nic)
                @Html.ValidationMessageFor(model => model.nic, "*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.batch_id, "batch_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("batch_id", String.Empty)
                @Html.ValidationMessageFor(model => model.batch_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.course_id, "course_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("course_id", String.Empty)
                @Html.ValidationMessageFor(model => model.course_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone)
                @Html.ValidationMessageFor(model => model.phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date, "*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.salary, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.salary)
                @Html.ValidationMessageFor(model => model.salary)
            </div>
        </div>

      

        <div class="form-group">
            @Html.LabelFor(model => model.gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(c=>c.gender,new List<SelectListItem>()
                {
                    new SelectListItem(){Text = "Male",Value = "Male"},
                    new SelectListItem(){Text = "Female",Value = "Female"}
                },"Select Gender")
                @Html.ValidationMessageFor(model => model.gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email, "*")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.personalWebsite, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personalWebsite)
                @Html.ValidationMessageFor(model => model.personalWebsite)
            </div>
        </div>
        <p>
            <b>
                @Html.ValidationSummary(false, "Please fix the following errors and than submit the form")
            </b>
        </p>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        
       
            
        
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
