@model IEnumerable<StudentManagementSystem.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered" style="background-color: beige">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.course1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.duration)
                </th>

                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.course1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.duration)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
            <tr>
                <td colspan="3">
                    <p>
                        <b>
                            Current time: @DateTime.Now.ToLongDateString()
                        </b>
                    </p>
                </td>
            </tr>

        </table>
    </div>
    <div class="col-md-4">
        <h3 style="color:teal">Search course by minimum and maximum time duration</h3>
        @Ajax.ActionLink("Top 3","Top3",new AjaxOptions()
        {
            HttpMethod = "GET",
            UpdateTargetId = "divCourses",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "loadingDiv",
            OnBegin = "ClearResult",
            OnSuccess = "CountRow",
            LoadingElementDuration = 1000
        })

        <span style="color: black">|</span>

        @Ajax.ActionLink("Bottom 3", "Bottom3", new AjaxOptions()
        {
            HttpMethod = "GET",
            UpdateTargetId = "divCourses",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "loadingDiv",
            OnBegin = "ClearResult",
            OnSuccess = "CountRow",
            LoadingElementDuration = 1000
            
        })
        <div id="loadingDiv" style="display: none">
            <img src="~/Photos/loadingGif.png"/>
        </div>

        <div id="divCourses"></div>

    </div>
</div>
<script type="text/javascript" language="javascript">
    function ClearResult() {
        $("#divCourses").empty();
    }

    function CountRow() {
        alert($("#courseTable tr").length-1 + " row(s) retrived.");
    }
</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>