@model IEnumerable<StudentManagementSystem.Models.Batch>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />

<h2>All Batch</h2>
@using (Html.BeginForm())
{
    <div class="form-inline">
        <label class="control-label">Name</label>
        <input type="text" name="searchTerm" id="textSearch" class="form-control"/>
        <input type="submit" value="Search" class="btn btn-info" />
    </div>
    
}
<br/>

<table class="table table-striped table-responsive table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.batch1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.batch1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New Batch", "Create")
</p>

@section scripts
{
    <script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/Batch/IndexScript.js"></script>
}

